:root {
	--dominant: #434455;
	--caption: #2e2f42;
	--white: #ffffff;
	--interactive: #4d5ae5;
	--cloud: #f4f4fd;
	--accent: #404bbf;
	--border: #e7e9fc;
}

/* global */

body {
	font-family: Roboto, sans-serif;
	background-color: #ffffff;
	color: var(--dominant);
}
h1,
h2,
h3 {
	margin: 0;
}
img {
	display: block;
}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}
.section {
	padding: 120px 0;
}

/* header */
.header-section {
	border-bottom: 1px solid var(--border);
	padding: 24px 0;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav {
	display: flex;
	align-items: center;
}
.nav-list {
	display: flex;
	gap: 40px;
}

.link {
	text-decoration: none;
	color: var(--caption);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
	color: var(--accent);
}
.logo {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	color: var(--interactive);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-right: 76px;
	width: 115px;
}
.logo:hover,
.logo:focus {
	color: var(--interactive);
}
.logo-header {
	color: var(--caption);
}
.contacts {
	font-style: normal;
}
.cont-link {
	font-weight: 400;
	color: var(--dominant);
}
.contacts .list {
	display: flex;
	gap: 40px;
}

/* Main */

.list-title {
	color: var(--caption);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}
.list-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin: 0;
}
.section-title {
	color: var(--caption);
	font-weight: 700;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
}

/* section hero */

.hero {
	background-color: var(--caption);
	padding: 188px 0;
}
.hero-container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;
}
.hero-title {
	color: var(--white);
	font-weight: 700;
	font-size: 56px;
	text-align: center;
	line-height: 1.07;
	letter-spacing: 0.02em;
	max-width: 496px;
}

.hero-btn {
	font-family: Roboto, sans-serif;
	background-color: var(--interactive);
	color: var(--white);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	padding: 16px 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	min-width: 169px;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--accent);
}

/* features section */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.features-list {
	display: flex;
	gap: 24px;
}

.features-item {
	width: calc((100% - 72px) / 4);
}
/* working */
.working.section {
	padding-top: 0;
}
.working .section-title {
	margin-bottom: 72px;
}

.working-list {
	display: flex;
	gap: 24px;
}
.working-item {
	width: calc((100% - 48px) / 3);
}
/* team section */
.team {
	background-color: var(--cloud);
}
.team .section-title {
	margin-bottom: 72px;
}
.team-list {
	display: flex;
	gap: 24px;
}
.card {
	background-color: var(--white);
	width: calc((100% - 72px) / 4);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card .list-title {
	text-align: center;
}
.card .list-text {
	text-align: center;
}
.card-content {
	padding: 32px 16px;
}

/* footer */
.footer-section {
	background-color: var(--caption);
	padding: 100px 0;
}
.logo-footer {
	color: var(--cloud);
}
.text-footer {
	color: var(--cloud);
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin: 0;
	max-width: 264px;
}
.footer-section .logo {
	display: inline-block;
	margin-bottom: 16px;
	height: 24px;
}

/* portfolio */

/* filters btns */

.filters {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.projects-section {
	padding: 96px 0 120px 0;
}
.filters-btn {
	font-family: Roboto, sans-serif;
	background-color: var(--cloud);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: var(--interactive);
	cursor: pointer;
	padding: 12px 24px;
	border: 1px solid var(--border);
	border-radius: 4px;
}
.filters-btn:hover,
.filters-btn:focus {
	background-color: var(--accent);
	color: var(--white);
	border: 1px solid transparent;
}
.filters {
	margin-bottom: 72px;
}

/* project-cards */
.projects-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}
.card-project {
	width: calc((100% - 48px) / 3);
	border: 1px solid var(--border);
	margin-bottom: 24px;
}
.link .card-content {
	border: 1px solid var(--border);
	border-top: none;
}
.projects-list img {
	margin: -1px;
}
.link-text {
	color: var(--dominant);
	font-weight: 400;
	margin: 0;
}
